.presentation {
    font-size:  85%;
    line-height: 200%;
    padding:    6px;
    color: #999999;
}
.presentation:nth-child(odd) {
    background: #0F0F0F;
}

.presentation:nth-child(even) {
    background: #1A1A1A;
}

.presentation-icon {
    font-size: 175%;
    padding-left: 2px;
    padding-right: 2px;
    color: #ccc;
}

.presentation-year {
    font-size: 150%;
    text-decoration: none;
    color: #ccc;
}

.presentation-icon {
    font-size: 175%;
    padding-left: 2px;
    padding-right: 2px;
    color: #ccc;
}

.presentation-title {
    font-size: 150%;
    text-decoration: none;
    color: #ccc;
}

.presentation-type {
    font-size: 125%;
}

.presentation-occasion {
    font-size: 150%;
}

.presentation-location {
    font-size: 150%;
}

.spacing {
    padding-bottom: 3cm;
}

#container4 {
    padding-top: 0.5cm;
    /*padding-bottom: 2cm;*/

    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
}
#container3 {
    clear:left;
    float:left;
    width:100%;
    position:relative;
    right:25%;
}
#container2 {
    clear:left;
    float:left;
    width:100%;
    position:relative;
    right:25%;
}
#container1 {
    float:left;
    width:100%;
    position:relative;
    right:25%;
}
#col1 {
    float:left;
    width:21%;
    position:relative;
    left:77%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:21%;
    position:relative;
    left:81%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:21%;
    position:relative;
    left:85%;
    overflow:hidden;
}
#col4 {
    float:left;
    width:21%;
    position:relative;
    left:89%;
    overflow:hidden;
}
