.publication-annotation {
    background: #d5484f;
    color: #ffffff;
    font-size: 110%;
    padding: 4px;
    border-radius: 5px;
    text-shadow: 2px 2px #000000;
}

.tabular-second-line {
    font-size: 130%;
    font-style: italic;
}

.tabular-third-line {
    font-size: 110%;
}

