/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$navbar-bg: #373a5f;
$navbar-fg: #bbbbbb;
$navbar-hl: white;
$navbar-padding-y: 0rem;

$link-color: #3ac39c;

$font-family-sans-serif: 'Roboto', sans-serif;

/*-- scss:rules --*/

.academics-links {
  font-size: 150%;
  color: #d5484f;
  text-decoration: none;
}

.publication-annotation {
  background: #85181f;
  color: white;
  font-size: 110%;
  padding: 4px;
  border-radius: 5px;
  text-shadow: 2px 2px black;
}

.tabular-second-line {
  font-size: 130%;
  font-style: italic;
}

.tabular-third-line {
  font-size: 110%;
}

.tabular {
  font-size: 65%;
  line-height: 200%;
  padding: 6px;
  color: #aaaaaa;

  &:nth-child(odd) {
    background: #090909;
  }

  &:nth-child(even) {
    background: #2D2D2D;
  }
}

.tabular-icon {
  font-size: 175%;
  padding-left: 2px;
  padding-right: 2px;
  color: #dddddd;
}

.tabular-year {
  font-size: 150%;
  text-decoration: none;
  color: #dddddd;
}

.tabular-icon {
  font-size: 175%;
  padding-left: 2px;
  padding-right: 2px;
  color: #dddddd;
}

.tabular-first-line {
  font-size: 175%;
  text-decoration: none;
  color: #dddddd;
  font-variant: small-caps;
}

.tabular-second-line {
  font-size: 150%;
}

.tabular-third-line {
  font-size: 120%;
}

.tabular-type {
  font-size: 125%;
}

.spacing {
  padding-bottom: 3cm;
}

