.tabular {
    font-size:  85%;
    line-height: 200%;
    padding:    6px;
    color: #aaaaaa;
}
.tabular:nth-child(odd) {
    background: #090909;
}

.tabular:nth-child(even) {
    background: #2D2D2D;
}

.tabular-icon {
    font-size: 175%;
    padding-left: 2px;
    padding-right: 2px;
    color: #dddddd;
}

.tabular-year {
    font-size: 150%;
    text-decoration: none;
    color: #dddddd;
}

.tabular-icon {
    font-size: 175%;
    padding-left: 2px;
    padding-right: 2px;
    color: #dddddd;
}

.tabular-first-line {
    font-size: 175%;
    text-decoration: none;
    color: #dddddd;
    font-variant: small-caps;
}

.tabular-second-line {
    font-size: 150%;
}

.tabular-third-line {
    font-size: 120%;
}

.tabular-type {
    font-size: 125%;
}
